
*{
  margin: 0;
  padding: 0;

}

.posts {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  display: grid;
  grid-template-columns:  repeat(auto-fill, minmax(270px, 1fr));
  gap:30px
}

.card-wrapper{
  background-color: #fff;
  padding: 10px;
  transition:  ease-in-out 100ms ;
}

.card-wrapper:hover{
  scale: 1.05;
}

.card-image{
  width: 100%;
}

.card-title{
  padding: 10px 5px 20px 5px;
}

.card-body{
  padding: 0px 10px;
  text-align: left;
}